@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter",Arial,Helvetica,sans-serif
}

:root{
    --color-principal-50:#fcfbff;
    --color-secundario-600:#361278;
    --color-secundario-300:#e7eaed;
    --color-terciario-100: #e4d7ff;
    --color-terciario-250: #bebebe;
}

ol, ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    height: 84px;
}


.content-container{
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .header__nav-display{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .content-container nav .header__nav-list{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    gap: 16px;
}

.header__nav-item{
    padding: 6, 24px;
    display: flex;
    align-items: center;  
}   

.header__nav-item:hover{
    background-color: var(--color-terciario-100)
}

.header__div-nav{
    background-color: var(--color-terciario-250);
    width: 1px;
    height: 24px;
}

.header__nav-buttons{
    display: flex;
    align-items: center;
}

.btn-header-blanco{
    background-color: white;
    color: var(--color-secundario-600);
    font-weight: 700;
    border: var(--color-secundario-600);
}

.padre{
    background-color: var(--color-principal-50);
    outline: var(--color-secundario-300) solid 1px;
    height: 100vh;
}