@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter",Arial,Helvetica,sans-serif
}

:root{
    --color-principal-50:#fcfbff;
    --color-secundario-600:#361278;
    --color-secundario-300:#e7eaed;
    --color-terciario-100: #e4d7ff;
    --color-terciario-250: #bebebe;
}

ol, ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1022px;
}

.btn-secondary{
    padding:  16px 32px;
    border-radius: 100px;
    background-color: white;
    border: 1px solid var(--color-secundario-600);
    color: var(--color-secundario-600);
    font-weight: 800;
}

.btn-secondary:hover{
    background-color: var(--color-terciario-100);
}

.btn-primary{
    padding:  16px 32px;
    border-radius: 100px;
    background-color: var(--color-secundario-600);
    color: white;
    font-weight: 800;
}

.btn-primary:hover{
    background-color: var(--color-terciario-100);S
    border: 1px solid var(--color-secundario-600);
    color: var(--color-secundario-600);
}

.header{
    display: flex;
    justify-content: center;
    height: 84px;
}

.header__logo-container{
    width: 140px;
    height: 40px;
}

header .header__nav-list{
    display: flex;
    height: 39px;
}

.header__nav-item{
    padding: 6px 24px;
    font-weight: 700;
    display: flex;
    align-items: center;  
    gap: 16px;
    border-radius: 16px;
}   

.header__nav-item:hover{
    background-color: var(--color-terciario-100);
    color: var(--color-secundario-600);
    cursor: pointer;
}

.header__div-nav{
    background-color: var(--color-terciario-250);
    width: 1px;
    height: 24px;
}

.header__actions-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.padre{
    background-color: var(--color-principal-50);
    outline: var(--color-secundario-300) solid 1px;
    height: 100vh;
}