@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter",Arial,Helvetica,sans-serif
}

:root{
    --color-principal-50:#fcfbff;
    --color-secundario-600:#361278;
    --color-secundario-300:#e7eaed;
    --color-terciario-100: #e4d7ff;
    --color-terciario-250: #bebebe;
    --color-card-200: #fcfbff; 
    --color-terciario-mobile: #e3e3e3;
    --color-tt:#2b2b2b;
    --color-parrafo: #a6a6a6;
}

ol, ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--color-principal-50);
}


.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1022px;
    padding: 16px;
}

.btn-secondary{
    display: flex;
    justify-self: center;
    align-items: center;
    padding:  16px 32px;
    border-radius: 100px;
    width: 160px;
    height: 41px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #652bdf;
    color: #652bdf;
    font-weight: 800;
}

.btn-secondary:hover{
    background-color: var(--color-terciario-100);
}

.btn-primary{
    display: flex;
    justify-self: center;
    align-items: center;
    padding:  16px 32px;
    border-radius: 100px;
    width: 160px;
    height: 41px;
    font-size: 14px;
    background-color: #652bdf;
    color: white;
    font-weight: 800;
}

.btn-primary:hover{
    background-color: var(--color-terciario-100);
    border: 1px solid var(--color-secundario-600);
    color: var(--color-secundario-600);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    height: 84px;
    background-color: var(--color-principal-50);
}

.header__logo-container{
    width: 140px;
    height: 39px;
}

.header__nav-list{
    display: flex;
    height: 39px;
    align-items: center;
}

.header__nav-item{
    display: flex;
    align-items: center;  
    padding: 6px 24px;
    font-size: 14px;
    font-weight: 650;
    gap: 16px;
    border-radius: 16px;
}   

.header__nav-item:hover{
    background-color: var(--color-terciario-100);
    color: var(--color-secundario-600);
    cursor: pointer;
}

.header__div-nav{
    background-color: var(--color-terciario-250);
    width: 1px;
    height: 24px;
    margin-left: 2px;
    align-self: center;
}

.header__actions-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.div-header{
    background-color:white;
    outline: var(--color-secundario-300) solid 1px;
}

/* Contenedor de todas las tarjetas */

.text-benefits{
    display: flex;
    text-align: center;
    justify-content: center;    
    color: var(--color-tt);
    padding: 32px 0px;
    font-size: 40px;
    margin: 8px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.vuelo-de-tu-negocio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.section-card-benefits{
    width: 1022px;
    height: 320px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-card-200);
}

.icon-card-benefits{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #f0eafc;
    color: #652bdf;
    font-size: 24px;
    padding: 16px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.icon-card-benefits:hover{
    color: #70128a;
}

/* Tarjeta izquierda */

.card-benefits-left{
    width: 316px;
    height: 248px;
    padding: 24px;
}

.card-benefits-left h2{
    margin-top: 12px;
    margin-bottom: 16px;
    width: 268px;
    height: 52px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

.card-benefits-left p{
    color: var(--color-parrafo);
    width: 268px;
    height: 52px;
    font-size: 18px;
}

/* Tajeta del medio */

.card-benefits-middle{
    width: 316px;
    height: 248px;
    padding: 24px;
}

.card-benefits-middle h2{
    margin-top: 12px;
    margin-bottom: 16px;
    width: 268px;
    height: 52px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

.card-benefits-middle p{
    color: var(--color-parrafo);
    width: 268px;
    height: 52px;
    font-size: 18px;
}

/* Tarjeta derecha */

.card-benefits-right{
    width: 316px;
    height: 248px;
    padding: 24px;
}

.card-benefits-right h2{
    margin-top: 12px;
    margin-bottom: 16px;
    width: 290px;
    height: 52px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

.card-benefits-right p{
    color: var(--color-parrafo);
    width: 268px;
    height: 52px;
    font-size: 18px;
}

/* APARTADO HISTORIAS QUE VUELAN */

.happy-users{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.happy-users-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1022px;
    height: 134px;
    background-color: #360c72;
    border-radius: 32px;
    margin: 0 24px;
    padding: 32px 40px;
}

.happy-users-container h2{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.happy-users-container p{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
}

.btn-secondary-km{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 46px;
    padding: 10px 32px;
    border-radius: 100px;
    background-color: white;
    color: #652bdf;
    font-weight: 700;
}

.btn-secondary-km:hover{
    background-color: black;
    color: var(--color-terciario-100);
    cursor: pointer;
}

/* SECCION MEDIOS DE PAGO */


.pay-methods-letters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
}

.pay-methods-letters h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #2b2b2b;
    font-size: 40px;
    margin-top: 26px;
}

.pay-methods-letters p{
    color: #6a6a82;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.pay-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 14px;
}

.pay-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 24px;
    background-color: #ffffff;
    color: black;
    width: 500px;
    height: 300px;
}

.pay-card h2{
    font-size: 30px;
    margin-bottom: 16px;
    color: rgb(43, 43, 43)
}

.pay-card h4{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 70px;
    line-height: 1.5;
}

.btn-secondary-pay{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 161px;   
    height: 46px;
    padding: 10px 32px;
    border-radius: 100px;
    color: white;
    background-color: #652bdf;
    font-weight: 700;
    font-size: 14px;
}

.btn-secondary-pay:hover{
    background-color:#360c72;
    cursor: pointer;
}

.img-pay:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* FOOTER */

footer{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 0 26px;
}

.div-footer{
    width: 1050px;
}

.footer-nav-list{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;
}


.footer-col{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 6px;
}

.footer-nav-sub-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav-sub-list a{
    font-size: 14px;
    font-weight: 400;
    color: #2b2b2b;
}

.footer-nav-sub-list li a:hover{
    text-decoration: underline;
    color: #9172e6;
}

.header__mobile{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 0 24px;
    background-color: white;
}

.header__mobile-btn{
    display: none;  
    align-items: center; 
    border: none;
    font-size: 28px;
    background-color: white;   
}

.header__mobile-btn:hover{
    cursor: pointer;
}

.header__mobile-logo{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
}

.header__mobile-logo{
    cursor: pointer;
}

.div-header-mobile{
    background-color: var(--color-principal-50)
}

.text-container .text-benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
}

.section-card-benefits-mobile{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.card-benefits-mobile{
    display: none;
    flex-direction: column;
    line-height: 1.4;
    padding: 24px;
    background-color: white;
}

.card-benefits-mobile i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-benefits-mobile h2{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    color: var(--color-tt);
}

.card-benefits-mobile p{
    color: var(--color-parrafo);
}

.happy-users-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
}

.happy-users-container-mobile{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    gap: 24px;
    border-radius: 32px;
    background-color: #360c72;
    padding: 32px 40px;
}

.happy-users-container-mobile h2{
    display: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.happy-users-container-mobile p{
    display: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
}

.happy-users-letters-mobile{
    display: none;
    flex-direction: column;
}


.btn-secondary-km-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100%;
    padding: 10px 32px;
    border-radius: 100px;
    background-color: white;
    color: #652bdf;
    font-weight: 700;
}

.btn-secondary-km-mobile:hover{
    background-color: black;
    color: #d5d5ff;
}

.img-pay-mobile{
    display: none;
}

/* Media querie */

@media (width < 992px){
    header nav{
        display: none;
    }

    .header__actions-container{
        display: none;
    }

    .header__logo-container{
        display: none;
    }
    
    .header__mobile{
        display: flex;
        }

    .header__mobile-btn{
        display: flex;
    }

    .header__mobile-logo{
        display: flex;
    }

    .text-container{
        padding-bottom: 30px;
    }

    .text-benefits{
        font-size: 30px;
    }

    .section-card-benefits{
        display: flex;
    }
        
    .card-benefits-left h2{
        font-size: 20px;
        width: 210px;
        height: 56px;
    }

    .card-benefits-left p{
        font-size: 16px;
        width: 210px;
    }

    .card-benefits-middle h2{
        font-size: 20px;
        width: 210px;
        height: 56px;
    }

    .card-benefits-middle p{
        font-size: 16px;
        width: 210px;
    }

    .card-benefits-right h2{
        font-size: 20px;
        width: 210px;
        height: 56px;
    }

    .card-benefits-right p{
        font-size: 16px;
        width: 210px;
    }

    .section-card-benefits{
        width: 800px;
        height: 278px;
        justify-content: space-between;
    }

    .card-benefits-left{
        width: 250px;
        height: 250px;
    }

    .card-benefits-middle{
        width: 250px;
        height: 250px;
    }

    .card-benefits-right{
        width: 250px;
        height: 250px;
    }
}

@media (width < 768px){
    .vuelo-de-tu-negocio{
        justify-content: start;
        padding: 24px;
    }

    .section-card-benefits{
        display: none;
    }

    .section-card-benefits-mobile{
        display: flex;
    }
    
    .card-benefits-mobile{
        display: flex; 
    }

    .happy-users{
        display: none;
    }

    .happy-users-mobile{
        display: flex;
    }

    .happy-users-letters{
        display: none;
    }

    .happy-users-letters-btn{
        display: none;
    }
    
    .happy-users-container{
        display: none;
    }

    .happy-users-container-mobile{
        display: flex;
    }

    .happy-users-letters-mobile{
        display: flex;
    }
    
    .happy-users-container-mobile h2{
        display: flex;
    }

    .happy-users-letters-mobile p{
        display: flex;
    }

    .btn-secondary-km-mobile{
        display: flex;
    }

    .pay-methods-letters h1{
        font-size: 30px;
    }

    .pay-methods-letters p{
        font-size: 14px;
    }

    .pay-card-container{
        flex-direction: column;
    }

    .img-pay{
        display: none;
    }

    .pay-card h2{
        font-size: 24px;
    }
    
    .pay-card h4{
        font-size: 16px;
    }

    .img-pay-mobile{
        display: flex;
    }

    .pay-card a{
        width: 100%;
    }
}

@media (width < 600px){
    .pay-card{
        width: auto;
    }
}
